@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin box-shadow($x: 0, $y: 2px, $blur: 8px, $color: rgba(0, 0, 0, 0.1)) {
    box-shadow: $x $y $blur $color;
}
